(
.notdef,
NULL,
CR,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemetleft,
logicalnot,
softhyphen,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
micro,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemetright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex,
gcircumflex,
Gbreve,
gbreve,
Gdotaccent,
gdotaccent,
Gcommaaccent,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
idotless,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute,
Lcommaaccent,
lcommaaccent,
Lcaron,
lcaron,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
napostrophe,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcedilla,
tcedilla,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
Schwa,
florin,
Ohorn,
ohorn,
Uhorn,
uhorn,
DZcaron,
Dzcaron,
dzcaron,
LJ,
Lj,
lj,
NJ,
Nj,
nj,
Acaron,
acaron,
Icaron,
icaron,
Gcaron,
gcaron,
Oogonek,
oogonek,
gacute,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Adblgrave,
adblgrave,
Ainvertedbreve,
ainvertedbreve,
Edblgrave,
edblgrave,
Einvertedbreve,
einvertedbreve,
Idblgrave,
idblgrave,
Iinvertedbreve,
iinvertedbreve,
Odblgrave,
odblgrave,
Oinvertedbreve,
oinvertedbreve,
Rdblgrave,
rdblgrave,
Rinvertedbreve,
rinvertedbreve,
Udblgrave,
udblgrave,
Uinvertedbreve,
uinvertedbreve,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
Adotaccent,
adotaccent,
Odieresismacron,
odieresismacron,
Otildemacron,
otildemacron,
Odotaccentmacron,
odotaccentmacron,
Ymacron,
ymacron,
jdotless,
schwa,
gsingle,
primemod,
doubleprimemod,
commaturnedmod,
apostrophemod,
ringhalfright,
ringhalfleft,
circumflex,
caron,
verticallinemod,
firsttonechinese,
secondtonechinese,
fourthtonechinese,
verticallinelowmod,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
doublebrevebelowcomb,
breveinverteddoublecomb,
lowernumeral-greek,
tonos,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
KaiSymbol,
kaiSymbol,
Iegravecyr,
Io-cy,
Dje-cy,
Gjecyr,
Eukrcyr,
Dze-cy,
Iukrcyr,
Yukrcyr,
Je-cy,
Lje-cy,
Nje-cy,
Tshe-cy,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
A-cy,
Be-cy,
Ve-cy,
Ge-cy,
De-cy,
Ie-cy,
Zhe-cy,
Ze-cy,
Ii-cy,
Iishort-cy,
Ka-cy,
El-cy,
Em-cy,
En-cy,
O-cy,
Pe-cy,
Er-cy,
Es-cy,
Te-cy,
U-cy,
Ef-cy,
Ha-cy,
Tse-cy,
Che-cy,
Sha-cy,
Shcha-cy,
Hardsign-cy,
Yeru-cy,
Softsign-cy,
Ereversed-cy,
Iu-cy,
Ia-cy,
a-cy,
be-cy,
ve-cy,
ge-cy,
de-cy,
ie-cy,
zhe-cy,
ze-cy,
ii-cy,
iishort-cy,
ka-cy,
el-cy,
em-cy,
en-cy,
o-cy,
pe-cy,
er-cy,
es-cy,
te-cy,
u-cy,
ef-cy,
ha-cy,
tse-cy,
che-cy,
sha-cy,
shcha-cy,
hardsign-cy,
yeru-cy,
softsign-cy,
ereversed-cy,
iu-cy,
ia-cy,
iegravecyr,
io-cy,
dje-cy,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
je-cy,
lje-cy,
nje-cy,
tshe-cy,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Gheupturn-cy,
gheupturn-cy,
Ustrait-cy,
ustrait-cy,
Ustraitstroke-cy,
ustraitstroke-cy,
Shha-cy,
shha-cy,
baht,
Ccedillaacute,
ccedillaacute,
Ddotbelow,
ddotbelow,
Dlinebelow,
dlinebelow,
Emacrongrave,
emacrongrave,
Emacronacute,
emacronacute,
Ecedillabreve,
ecedillabreve,
Gmacron,
gmacron,
Hdotbelow,
hdotbelow,
Hbrevebelow,
hbrevebelow,
Idieresisacute,
idieresisacute,
Ldotbelow,
ldotbelow,
Llinebelow,
llinebelow,
Mdotbelow,
mdotbelow,
Ndotaccent,
ndotaccent,
Ndotbelow,
ndotbelow,
Nlinebelow,
nlinebelow,
Otildeacute,
otildeacute,
Otildedieresis,
otildedieresis,
Omacrongrave,
omacrongrave,
Omacronacute,
omacronacute,
Rdotbelow,
rdotbelow,
Rlinebelow,
rlinebelow,
Sdotaccent,
sdotaccent,
Sdotbelow,
sdotbelow,
Sacutedotaccent,
sacutedotaccent,
Scarondotaccent,
scarondotaccent,
Sdotbelowdotaccent,
sdotbelowdotaccent,
Tdotbelow,
tdotbelow,
Tlinebelow,
tlinebelow,
Utildeacute,
utildeacute,
Umacrondieresis,
umacrondieresis,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Ydotaccent,
ydotaccent,
Zdotbelow,
zdotbelow,
tdieresis,
Germandbls,
Adotbelow,
adotbelow,
Ahookabove,
ahookabove,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhookabove,
acircumflexhookabove,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehookabove,
abrevehookabove,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehookabove,
ehookabove,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhookabove,
ecircumflexhookabove,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihookabove,
ihookabove,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohookabove,
ohookabove,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhookabove,
ocircumflexhookabove,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhookabove,
ohornhookabove,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhookabove,
uhookabove,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhookabove,
uhornhookabove,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhookabove,
yhookabove,
Ytilde,
ytilde,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
hyphentwo,
nonbreakinghyphen,
figuredash,
endash,
emdash,
horizontalbar,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
dagger,
daggerdbl,
bullet,
ellipsis,
perthousand,
minute,
second,
guilsinglleft,
guilsinglright,
interrobang,
asterism,
fraction,
lowasterisk,
twoasterisksvertical,
commercialMinusSign,
zerosuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
colonsign,
franc,
lira,
naira,
peseta,
won,
dong,
euro,
kip,
peso,
guarani,
cedi,
rupeeIndian,
liraTurkish,
manat,
ruble,
literSign,
numero,
trademark,
Ohm,
estimated,
oneseventh,
oneninth,
onetenth,
onethird,
twothirds,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zerothird,
leftArrow,
upArrow,
rightArrow,
downArrow,
leftRightArrow,
upDownArrow,
northWestArrow,
northEastArrow,
southEastArrow,
southWestArrow,
partialdiff,
emptyset,
increment,
product,
summation,
minus,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
approxequal,
notequal,
lessequal,
greaterequal,
logicalnotReversed,
blackSquare,
whiteSquare,
upBlackTriangle,
upWhiteTriangle,
rightBlackTriangle,
rightWhiteTriangle,
downBlackTriangle,
downWhiteTriangle,
leftBlackTriangle,
leftWhiteTriangle,
blackDiamond,
whiteDiamond,
lozenge,
dottedCircle,
blackstar,
whitestar,
heartWhiteSuit,
heartBlackSuit,
leftanglebracket-math,
rightanglebracket-math,
f_f,
fi,
fl,
f_f_i,
f_f_l,
parenleft.case,
parenright.case,
comma.tf,
hyphen.case,
period.tf,
slash.case,
zero.dnom,
zero.lf,
zero.numr,
zero.osf,
zero.sinf,
zero.subs,
zero.sups,
zero.tf,
zero.tosf,
zero.zero,
one.dnom,
one.numr,
one.osf,
one.sinf,
one.subs,
one.sups,
one.tf,
one.tosf,
two.dnom,
two.numr,
two.osf,
two.sinf,
two.subs,
two.sups,
two.tf,
two.tosf,
three.dnom,
three.numr,
three.osf,
three.sinf,
three.subs,
three.sups,
three.tf,
three.tosf,
four.dnom,
four.numr,
four.osf,
four.sinf,
four.subs,
four.sups,
four.tf,
four.tosf,
five.dnom,
five.numr,
five.osf,
five.sinf,
five.subs,
five.sups,
five.tf,
five.tosf,
six.dnom,
six.numr,
six.osf,
six.sinf,
six.subs,
six.sups,
six.tf,
six.tosf,
seven.dnom,
seven.numr,
seven.osf,
seven.sinf,
seven.subs,
seven.sups,
seven.tf,
seven.tosf,
eight.dnom,
eight.numr,
eight.osf,
eight.sinf,
eight.subs,
eight.sups,
eight.tf,
eight.tosf,
nine.dnom,
nine.numr,
nine.osf,
nine.sinf,
nine.subs,
nine.sups,
nine.tf,
nine.tosf,
colon.case,
colon.tf,
semicolon.tf,
at.case,
bracketleft.case,
backslash.case,
bracketright.case,
a.ss01,
b.ss01,
d.ss01,
f_f_t,
f_t.liga,
g.ss01,
g.ss02,
l.ss01,
o.ss01,
p.ss01,
q.ss01,
t.ss01,
t_t.liga,
u.ss01,
braceleft.case,
braceright.case,
guillemetleft.case,
softhyphen.case,
registered.sups,
periodcentered.case,
periodcentered.loclCAT,
guillemetright.case,
agrave.ss01,
aacute.ss01,
acircumflex.ss01,
atilde.ss01,
adieresis.ss01,
aring.ss01,
ograve.ss01,
oacute.ss01,
ocircumflex.ss01,
otilde.ss01,
odieresis.ss01,
oslash.ss01,
ugrave.ss01,
uacute.ss01,
ucircumflex.ss01,
udieresis.ss01,
thorn.ss01,
amacron.ss01,
abreve.ss01,
aogonek.ss01,
dcaron.ss01,
dcroat.ss01,
gcircumflex.ss01,
gcircumflex.ss02,
gbreve.ss01,
gbreve.ss02,
gdotaccent.ss01,
gdotaccent.ss02,
gcommaaccent.ss01,
gcommaaccent.ss02,
IJ_acutecomb.loclNLD,
ij_acutecomb.loclNLD,
lacute.ss01,
lcommaaccent.ss01,
lcaron.ss01,
ldot.ss01,
lslash.ss01,
omacron.ss01,
obreve.ss01,
ohungarumlaut.ss01,
tcedilla.ss01,
tcaron.ss01,
tbar.ss01,
utilde.ss01,
umacron.ss01,
ubreve.ss01,
uring.ss01,
uhungarumlaut.ss01,
uogonek.ss01,
ohorn.ss01,
uhorn.ss01,
dzcaron.ss01,
lj.ss01,
acaron.ss01,
gcaron.ss01,
gcaron.ss02,
oogonek.ss01,
gacute.ss01,
gacute.ss02,
aringacute.ss01,
oslashacute.ss01,
adblgrave.ss01,
ainvertedbreve.ss01,
odblgrave.ss01,
oinvertedbreve.ss01,
udblgrave.ss01,
uinvertedbreve.ss01,
tcommaaccent.ss01,
adotaccent.ss01,
odieresismacron.ss01,
odotaccentmacron.ss01,
acutecomb_dotaccentcomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
caroncomb.alt,
ogonekcomb.angle,
ddotbelow.ss01,
dlinebelow.ss01,
gmacron.ss01,
gmacron.ss02,
ldotbelow.ss01,
ldotbelowmacron.ss01,
llinebelow.ss01,
omacrongrave.ss01,
omacronacute.ss01,
tdotbelow.ss01,
tlinebelow.ss01,
utildeacute.ss01,
umacrondieresis.ss01,
tdieresis.ss01,
adotbelow.ss01,
ahookabove.ss01,
acircumflexacute.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
acircumflexdotbelow.ss01,
abreveacute.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
abrevedotbelow.ss01,
odotbelow.ss01,
ohookabove.ss01,
ocircumflexacute.ss01,
ocircumflexgrave.ss01,
ocircumflexhookabove.ss01,
ocircumflextilde.ss01,
ocircumflexdotbelow.ss01,
ohornacute.ss01,
ohorngrave.ss01,
ohornhookabove.ss01,
ohorntilde.ss01,
ohorndotbelow.ss01,
udotbelow.ss01,
uhookabove.ss01,
uhornacute.ss01,
uhorngrave.ss01,
uhornhookabove.ss01,
uhorntilde.ss01,
uhorndotbelow.ss01,
endash.case,
emdash.case,
bullet.case,
guilsinglleft.case,
guilsinglright.case,
Jacute,
idotaccent,
jacute,
)
